<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361086922225-s4dv8gd8hd562u87pbqfcep07di8ida7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361086922225-s4dv8gd8hd562u87pbqfcep07di8ida7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzV1U6lH-ixjkqUajLqSUoYpNxmEzE5R8</string>
	<key>GCM_SENDER_ID</key>
	<string>361086922225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quonsepto.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-swiftui-13229</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-swiftui-13229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361086922225:ios:c177ca75898a90a7936850</string>
</dict>
</plist>